.red{
    background-color: #FF416C;
}

.green{
    background-color: #11998e;
}

.qing{
    background-color: #40E0D0;
}

.orange{
    background-color: #FF8C00;
}

.pink{
    background-color: #FF0080;
}

.yellow{
    background-color: #FBD786;
}

.light-green{
    background-color: #C6FFDD;
}

.light-blue{
    background-color: #6dd5ed;
}

.dark-blue{
    background-color: #2193b0
}

.golden{
    background-color: #FF8C00;
}

